.about .hero-grid {
    grid-template-columns: 1fr 1fr;
    padding: 5rem 0;
}

.about-content .title {
    color: var(--primary-color-1);
    font-size: var(--title-font-size);
    font-weight: 500;
    line-height: var(--title-line-height);
    margin: 0;
}

.about-content .subtitle {
    font-size: var(--subtitle-font-size);
    line-height:var(--subtitle-line-height);
    margin: 0.625rem 0;
}

.about-content .description {
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-font-height);
    margin: 0.625rem 0;
}

.about-images {
    grid-column: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 25.5rem;
    margin: auto 0;
  }

  .about-images img {
    position: absolute;
    width: 23.5rem;
    height: 15.75rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: 78% 50%;
  }

  .about-images img:nth-of-type(1) {
    top: 0;
    right: 0;
  }

  .about-images img:nth-of-type(2) {
    bottom: 0;
    left: 0;
  }

  @media (max-width: 915px) {
    .about .hero-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }

    .about-images {
      grid-column: 1;
      position: static;
      justify-content: space-evenly;
      flex-direction: row;
      height: unset;
    }

    .about-images img {
      position: static;
      max-width: 50%;
      height: 26rem;
      width: unset;
    }
  }

  @media (max-width: 715px) {
    .about.container {
      padding: 2rem 1.5rem;
    }
    .about-content {
      grid-template-rows: repeat(3, auto);
    }

    .about-images {
      flex-direction: column;
    }

    .about-images img {
      max-width: 100%;
    }
  }